.mainContainer {
    margin-top: 2em;
    padding: 1em;
    backdrop-filter: blur(10px); 
    background:  rgb(218, 193, 174);
    border-radius: 41px; 
    box-shadow: 0px 0px 50px rgba(187, 144, 84, 0.5)}