.mainContainer {
    margin-top: 2em;
    padding: 3em;
    background:  rgb(252, 236, 227);
    border-radius: 41px; 
    box-shadow: 0px 0px 10px 3px rgba(202, 174, 138, 1)
}

.textContainer{
    width:70%
}


@media screen and (max-width: 1200px) {
    .textContainer{
        width:85%
    }
}

@media screen and (max-width: 992px) {
    .textContainer{
        width:100%
    }
}