body {
  position: relative;
  padding-bottom: 15em;
  padding-top: 220px;
  min-height: 100vh;
  font-family: MyriadPro, Lato, Helvetica;
  background-color: #fff6f2;
  text-align: justify;
  overflow-x: hidden;
}

/* Fuentes */

@font-face {
  font-family: 'MyriadPro'; 
  src: url('../assets/MyriadPro-Regular.otf'); 
}

/* Navbar */

.show-menu{    
  transform: translateY(0px);
  transition: transform 0.4s ease;          
}

.hide-menu{
  transform: translateY(-178px);
  transition: transform 0.4s ease;
}

nav .navbar-toggler {
  box-shadow: none !important;
  border: none;
}

.navbar-toggler:hover {
  transform: scale(1.20)  
}

header {
  background-color:#F77F00
}

.navbar {
  box-shadow: inset 0 5px 3px 0px #BD5000, inset 0 -5px 3px 0px #BD5000;
}

nav .nav-link:hover{
  color:#130303 !important
}

nav .nav-link{
  font-size: 18px;

}

@media screen and (max-width: 992px) {
  
  nav .offcanvas {
      background-color:#BD5000;
      width: 85vw !important;
      height: 100vh;
  } 

  .navbar {
    width: 110vw;
  }
  
  nav .offcanvas .nav-link:hover{
    color:#464545 !important
  }

}

/*  Para anular el efecto del color negro y el fondo blanco del autollenado de los inputs (en realidad no lo anula sino que pospone su efecto 600000s, o sea 10000 minutos) */

input:-webkit-autofill, input:-webkit-autofill:focus {  
  transition: background-color 600000s 0s, color 600000s 0s;
}




