body {
  position: relative;
  padding-bottom: 8em;
  padding-top: 12em;
  min-height: 100vh;
  font-family: MyriadPro, Lato;
}

/* Fuentes */

@font-face {
  font-family: 'Helvetica'; 
  src: url('../assets/Helvetica.ttc'); 
}
@font-face {
  font-family: 'MyriadPro'; 
  src: url('../assets/MyriadPro-Regular.otf'); 
}
@font-face {
  font-family: 'HelveticaInserat'; 
  src: url('../assets/HelveticaInseratLTStd-Roman.otf'); 
}
@font-face {
  font-family: 'Maison'; 
  src: url('../assets/FontsFree-Net-Maison-Neue-Book.ttf'); 
}

/* Navbar */

nav .navbar-toggler {
  box-shadow: none !important;
}

nav {
  background-color: #d4a373;
}

nav .nav-link:hover {
  color:#828579 !important
}

@media screen and (max-width: 992px) {
  nav h3 {
      font-size: 30px !important;
      margin: 0px !important
  }  
  nav .offcanvas {
      background-color:#B9CFD4;
      width: 85vw !important;
  }    
  nav .offcanvas-body .nav-link:hover {
      color:lightblue !important
  }
}


