body {
  position: relative;
  padding-bottom: 8em;
  padding-top: 180px;
  min-height: 100vh;
  font-family: MyriadPro, Lato, Helvetica;
  background: linear-gradient(90deg, rgba(250,240,219,1) 0%, rgba(251,213,184,1) 100%);
  overflow-x: hidden;
}

/* Fuentes */

@font-face {
  font-family: 'MyriadPro'; 
  src: url('../assets/MyriadPro-Regular.otf'); 
}
@font-face {
  font-family: 'HelveticaInserat'; 
  src: url('../assets/HelveticaInseratLTStd-Roman.otf'); 
}
@font-face {
  font-family: 'Maison'; 
  src: url('../assets/FontsFree-Net-Maison-Neue-Book.ttf'); 
}

/* Navbar */

.show-menu{    
  transform: translateY(0px);
  transition: transform 0.4s ease;          
}

.hide-menu{
  transform: translateY(-153px);
  transition: transform 0.4s ease;
}

nav .navbar-toggler {
  box-shadow: none !important;
}

header {
  background-color:#d4a373
}

nav .nav-link:hover{
  color:#130303 !important
}


@media screen and (max-width: 992px) {
  nav h3 {
      font-size: 30px !important;
      margin: 0px !important
  }  
  nav .offcanvas {
      background-color:#B9CFD4;
      width: 85vw !important;
  }    
  nav .offcanvas-body .nav-link:hover {
      color:lightblue !important
  }
}


